@media screen and (max-width:959px) {
  #container {
    width: 100%;
  }
  #header-titles {
    width: 70%;
  }
  #call-to-action {
    width: 30%;
  }
  //img {
  //  width: 100%;
  //}
}

@media screen and (max-width:640px) {
  #header-titles {
    width: 100%;
  }
  #call-to-action {
    width: 100%;
  }
//  img {
  //  width: 100%;
//  }
}

@media screen and (max-width:320px) {
   //body {
    //font-size: .9em;
    //padding: 0 1.5em;
//  }
//  h1 {
//  font-size: 0.5714em;
//    line-height: 0.55;
//  }
  img {
    width: 100%;
  }
  #container {
    width: 320px;
  }
}
